* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
}

header {
  background-color: black;
  color: white;
  width: 100%;
  text-transform: uppercase;
  font-size: 1rem;
}

header span {
  display: flex;
  align-items: center;
  width: 960px;
  margin: 0 auto;
}

header img {
  height: 1.5rem;
  width: auto;
  margin-left: 0.5rem;
  margin-right: 1rem;
}

header p {
  margin: 0.66rem 0;
}

#heroimage {
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
}

#heroimage span {
  display: block;
  height: 100%;
  width: 960px;
  margin: 0 auto;
  padding-top: 9rem;
}

#herotext {
  display: block;
  background-color: black;
  color: white;
  width: 20rem;
  padding: 2rem 3rem;
}

.ht_one {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 0.25rem;
}

.ht_two {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}

nav {
  background-color: firebrick;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navcontainer {
  height: 100%;
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#menucontainer {
  display: none;
}

nav span {
  margin: 0.75rem 0;
}

#products {
  margin-top: 3rem;
}

#productsholder {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.a_product {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  border: 4px solid black;
}

.imgholder {
  height: 9rem;
  width: auto;
  overflow: hidden;
  margin: 2rem auto;
}

#products img {
  height: 100%;
  width: auto;
  display: block;
}

.ptext {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
}

.ptext p {
  margin: 0.5rem 0;
}

#info {
  width: 960px;
  height: 100%;
  margin: 3rem auto 4rem auto;
  display: flex;
  justify-content: space-between;
}

.infoholder {
  width: 35%;
}

.infohead {
  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 3px;
  text-indent: 2rem;
}

footer {
  background-color: black;
  color: white;
  height: 5rem;
  width: 100%;
}

#footerholder {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {

header span {
  width: 100%;
}

#heroimage span {
  width: 100%;
}

#navcontainer {
  display: none;
}

#menucontainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#productsholder {
  width: 100%;
}

.a_product {
  width: 47%;
}

#glasses {
  display: none;
}

#info {
  width: 100%;
}

} /* end 1024px */

@media only screen and (max-width: 500px) {

  #heroimage {
    height: 15rem;
  }

  #herotext {
    width: 100%;
    padding: 2rem 1rem;
  }

  .ht_one {
    font-size: 0.77rem;
  }

  .ht_two {
    font-size: 1rem;
  }

  #productsholder {
    width: 90%;
  }

  .a_product {
    width: 100%;
  }

  #watch {
    display: none;
  }

  #info {
    width: 90%;
    margin: 3rem auto 4rem auto;
    flex-wrap: wrap;
  }

  .infoholder {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  #footerholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

} /* end 470px */
