* {
  margin: 0px;
  padding: 0px;
}

div {
  border: 1px solid red;
}

span {
  border: 1px solid green;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

#content {
  display: flex;
  justify-content: center;
}

#leftcolumn {
  width: 630px;
}

#middlecolumn {
  width: 300px;
}

#rightcolumn {
  width: 240px;
}

#footer {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
  height: 300px;
}

#footer .logo {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-right: 2px solid white;
  padding: 0px 20px;
}
