body {
  margin: 0px;
  padding: 0px;
}

span {
  border: 1px solid red;
}

div {
  border: 1px solid green;
}

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

#header {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 75px;
  border: 1px solid orange;
}

#content {
  padding-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.left {
  max-width: 630px;
}

.smallstoryholder {
  border: 5px solid pink;
  display: flex;
  flex-wrap: wrap;
}

.textstoryholder {
}

.stories, .earth, .camera, .cats{
  height: 300px;
  width: 300px;
}

.stores, .earth, .camera, .cats span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.stories p:first-of-type {
  font-size: 30px;
  font-weight: bold;
}

.earth {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.camera {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.cats {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
}

.middle {
  max-width: 300px;
}

.right {
  max-width: 240px;
}

.mainimgheadline {
  height: 300px;
  width: 629px;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
}

.mainimgheadline span {
  font-family: Georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
}
