* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

body {
  font-family: Helvetica, sans-serif;
}

header {
  width: 960px;
  margin: 1rem auto 0 auto;
  padding: 0 2rem;
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logoholder {
  display: flex;
  align-items: center;
}

#logoholder img {
  height: 1.5rem;
  margin-right: 1rem;
}

.link {
  display: inline-block;
  margin: 1rem 0 1rem 2rem;
}

#heroimage {
  display: inline-block;
  width: 100%;
  height: 30rem;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#herotext {
  background-color: white;
  margin-top: 10rem;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0 5rem;
  display: inline-block;
}

#herotext p {
  margin: 1.5rem 0;
}

#things {
  width: 960px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
  align-content: stretch;
}

.thingholder {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  margin: 0 6rem;
}

.imgholder {
  width: auto;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 auto 10px;
}

.thingtxt {
  text-align: center;
  line-height: 25px;
}

#stuff {
  width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.stuffholder {
  width: 35%;
  margin: 0 5%;
}

.aheader {
  display: block;
  width: 15rem;
  height: auto;
  background-color: cadetblue;
  margin-bottom: 18px;
}

.aheader p {
  display: inline-block;
  font-weight: bold;
  margin: 0.5rem auto 0.5rem 1.25rem;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
}

.sometext {
  line-height: 30px;
}

footer {
  width: 960px;
  margin: 4rem auto 0 auto;
}

#fholder {
  background-color: azure;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 4rem 3rem;
}

.fimg {
  margin-right: 1rem;
}
